.gpt3__header{
    display: flex;
    flex-direction: row;
    align-items: center;
 

}
.gpt3__header-bg{
    min-height: 100svh;
       display: flex;
    flex-direction: row;
    align-items: center;
}

.gpt3__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  


    margin-right: 5rem;

    h1{
        font-family: var(--font-family);
        font-weight: 800;
        line-height: 75px;
        font-size: 62px;
        letter-spacing: -0.04rem;;
    }
    p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: var(--color-text);
    
        margin-top: 1.5rem;
    }
}




.gpt3__header-content_input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    input{
        flex: 2;
        width: 100%;
        min-height: 50px;
        font-family: var(--font-family);
        background: var(--color-footer);
        border-radius: 5px 0 0 5px;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        border: 2px solid var(--color-footer);
        padding: 0 1rem;
        outline: none;
        
        


    }

    button{
        flex: 0.6;
        width: 100%;
        min-height: 50px;
        color: #fff;
        background: #ff4820;
        border-radius:0  5px  5px  0;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
        color: #fff;
        cursor: pointer;
        outline: none;
        padding: 0 1rem;
        border: none;
    }
    
}

.gpt3__header-content_people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;

    img{
        width: 181.79px;
        height: 38px;
    }
    p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 38px;
        color: #fff;       
        margin: 0 0 0 1rem;
    }
}

.gpt3__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;


    img{
        max-width: 100%;
        height: auto; 
        max-height: 100svh
    }
}

@media (width <=1050px){
    .gpt3__header{
        flex-direction:column;
    }

    .gpt3__header-content{
        margin: 0 0 3rem;
        padding-top: 10rem ;

    }
}
@media (width <=650px){
    .gpt3__header-content{
                padding-top: 5rem ;
    }
    .gpt3__header {
        h1{
            font-size: 48px;
            line-height: 60px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .gpt3__header-content_people{
        flex-direction: column;

        p{
            margin: 0;
        }
    }
    .gpt3__header-content_input input,
    .gpt3__header-content_input button{
        font-size: 14px;
        line-height: 24px;
    }
    
}

@media (width <=490px){
    .gpt3__header {
        h1{
            font-size: 36px;
            line-height: 48px;
        }
        p{
            font-size: 14px;
           
        }

        .gpt3__header-content{
            padding-top: 3rem ;
        }
        .gpt3__header-content_input input,
        .gpt3__header-content_input button{
            font-size: 14px;
            line-height: 16px;
        }
    }
}